@page
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

Try the new <a href="Play">web version</a>, or if you trust a random exe on the internet, the <a href="/ConsoleSnake.exe">console version</a> (Windows-x64).
