@page
@namespace Snakes.Pages
@*@using Snakes.Client*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<h1>Coming soon!</h1>
@*<component type="typeof(App)" render-mode="WebAssemblyPrerendered" />*@