@page "/Play"
@using Blazor.Extensions
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D
@using Microsoft.AspNetCore.SignalR.Client

@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject ILogger<Play> Logger

<PageTitle>Sneks!</PageTitle>

<div id="canvasContainer" style="position: fixed; opacity: 1; background-color: black; width: 100%; height: 100%">
    <BECanvas @ref="_canvas"></BECanvas>
</div>